

.top-header {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.02);
  background-color: #ffffff;
  &--logo {
    margin:30px 43px;
  }
  &--navigation {
    margin:42px 43px;

    ul li{
      display: inline;
    }
    a {
      text-decoration: none;
      padding:0 0 5px 15px;

      @include font(14px, #6f7b80, $f1);
      &:hover {
        border-bottom: 3px solid #ffbb1c;
      }
    }
  }


  &--callback {
    margin:34px 0 34px 0;
    font-family:$f2;

    a {
      text-decoration: none;
      float: right;
      outline: none;
    }
    &__number {
      color: #333;
      font-size: 15px;
      
    }
    &__word {
      color: #2953dd;
      border-bottom: 2px solid #c9d4f6;
      font-size: 12px;
      outline: none;
      position: relative;
    }
  }
}
.burger_trigger {
  display: none;
  position: absolute;
  top:15px;
  left:25px;
  height:100px;
  width:100px;
}
.burger {
  display: none;
  height:5px;
  width:55px;
  background: #000;
  position: relative;
  border-radius: 8px;
  &:before, &:after {
    border-radius: 8px;
    content: '';
    display: block;
    position: absolute;
    height:5px;
    width:55px;
    background-color: #000;
    left:0;
    top:13px;
}
  &:after {
    top:26px;
  }
}
.menu {
  display: block;
  opacity:0;
  list-style-type: none;
  padding-left:0;
  line-height:40px;
  font-size:20px;
  margin-top:32px;
  border:1px solid #000;
  position: absolute;
  transition: all 0.5s;
  li {
    padding-left:15px;
    padding-right:15px;
    &:hover {
      color:#f1d117;
      background-color: #121212;

    }
  }

}
.menu_opened {
opacity: 1;
}
.phone__icon {
  position: relative;
  float: right;
  a {
    text-decoration: none;
    outline: none;
  }
  i {
    color: #fefefe;
    border:1px solid #1390d8;
    border-radius: 50%;
    background-image: linear-gradient(to left, #1390d8 0%, #2953dd 100%);
    padding:10px;
    box-shadow: inset 0 0 10px #3a8200;

    &:hover {
      background-image: linear-gradient(to bottom, #f1d117 0%, #e1580c 100%);
      border:1px solid #f1d117;
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;
    }
    @keyframes shake {
      10%, 90% {
        transform: translate3d(-1px, 0, 0);
      }

      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }

      30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
      }

      40%, 60% {
        transform: translate3d(4px, 0, 0);
      }
    }
  }
}