
.midle-part {
  background-image: url('https://image.ibb.co/j3Fy1w/firstscreen_img.png');
  position: relative;
  background-size:cover;
  width: auto;
  height: 670px;

  &--txt {
    margin-top:61px;
    padding-left: 60px;


    a {
      text-decoration: none;
      outline: none;

    }
  &__btn {
    background-color: #2953dd;
    border-radius: 16px;
    padding: 9px 15px 10px 15px;
    color: #fefefe;
    font-family: $f3;
    font-size: 11px;
    line-height: 84px;
    text-transform: uppercase;
    letter-spacing: 0.82px;
    &:hover {
      background-color: #00ff33;
      background-image: linear-gradient(to bottom, #f1d117 0%, #e1580c 100%);
    }
  }
  p {
    font-family:$f1;
    font-size: 22px;
    color: #fefefe;
    line-height: 36px;
  }
  }
  &--rightside {
    padding-top: 61px;
    background-color: #f7f7f7;
    float: right;
    padding-left:65px;
    height: 670px;
    width:auto;

    article {
      color: #222222;
      font-size: 32px;
      font-weight: 300;
      padding-bottom:15px;

    span {
      font-size: 18px;
      color: #8c9699;

    }
    }
    form {
      label {
        color: #5c6264;
        font-family:$f2;
        font-size: 13px;

      }
      input {
        width: 100%;
        padding:10px;
        margin: 5px 0  20px 0;
        border: 1px solid #e1e7e8;
      }
    }
    a {
      text-decoration: none;
      outline: none;
      margin-top:20px;
    }
    .midle-part--rightside--takeconsult {
      margin-top:70px;
    }
    &--button {
      display: inline;
      box-shadow: 0 10px 20px rgba(208, 162, 28, 0.3);
      border: 2px solid #ffbb1c;
      border-radius: 25px;
      background-color: #00ff33;
      background-image: linear-gradient(to bottom, #f1d117 0%, #e1580c 100%);
      padding:16px 31px 16px 31px;
      &:hover {
        background-color: #2953dd;
        background-image: linear-gradient(to left, #1390d8 0%, #2953dd 100%);
        opacity: 0.7;
        border: 2px solid #2953dd;
      }

      &__txt {
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
        text-transform: uppercase;
        text-align: center;
        line-height: 18px;
        color: #fdfdfd;
        font-size: 13px;
        font-weight: 700;
        font-family:$f4;
      }
    }
  }
}
.about-us {

  &--parts {
    margin-top:95px;
    &__icon1 {
      background-position: 45px -555px;
    }
    &__icon2 {
      background-position: 35px -1120px;
    }
    &__icon3 {
      background-position: 35px 0px;
    }
    &__border1 {

    }
    &__txt {
      background-image: url(../img/sprite.png);
      background-repeat: no-repeat;
      display: inline-block;



      &::before {
        content: '';
        display: inline-block;
        border:1px solid #2953dd;
        border-radius: 50%;
        width: 72px;
        height:74px;
        background-color: #2953dd;
        margin-right:20px;
        position: relative;
        z-index: -1;
      }
      &__title {
        text-align: center;
        bottom:20px;
        color: #3b75f2;
        font-size: 30px;
        letter-spacing: 0.3px;
        line-height: 15px;
        position: relative;
        display: inline;
        background-position: 0px -545px;


      }
      &__subtitle {
        color: #8c9699;
        position: relative;
        text-align: inherit;
        float: right;
        margin-right:25px;
      }
      &__subtitle__center {
        position: relative;
        color: #8c9699;
        float: right;
        text-align: justify;
        right:47px;
      }
      &__subtitle__right {
      position: relative;
      text-align: inherit;
      color: #8c9699;
        float: right;
        right:20px;
      }

    }

  }
}
.how-we-work {
  background-image: url("https://image.ibb.co/exvLEG/9.png");
  background-repeat: no-repeat;
  background-position: 117% 46px;
  height: 594px;
  margin-top: 104px;

  ul li {
    color: #555555;
    line-height: 22px;
    font-family: $f3;
  }
  &--floats {
    float: left;
    text-align: center;
    &__simple {
      margin-top: 25px;
    }
    .how-we-work--txt__simple {
      padding-top: 32px;

    }
    .how-we-work--txt__simple2 {
      padding-top: 26px;
    }
    img {
      padding-right: 10px;
    }
    a {
      text-decoration: none;
      outline: none;

      span {
        color: #333;
        font-size: 20px;
        line-height: 24px;
        font-family: $f3;
        display: block;
        margin: 0 auto;
        text-align: center;
        padding-top: 10px;
      }
      p {
        color: #555555;
        font-size: 12px;
        line-height: 22px;

      }
    }
  }
  &--sofa {
    margin-top: 50px;
    color: #333333;
    font-family: $f4;
    text-align: center;
    font-size: 15px;
    line-height: 24px;
    border-right: 2px solid #ffbb1c;
    border-left: 2px solid #ffbb1c;

  }

}
    .arrow {
      margin-top:45px;
      position: relative;
      background-color: #2953dd;
      background-image: linear-gradient(to left, #1390d8 0%, #2953dd 100%);
      border: 1px solid #2953dd;
      height: 150px;
      width: 853px;
      opacity: 0.9;
    }

.arrow {}
.arrow:after, .arrow:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: "“";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow:after {
  border-color: rgba(42, 153, 220, -13);
  border-left-color: #1390d8;
  border-width: 77px;
  margin-top: -76px;

}
.arrow:before {
  border-color: rgba(44, 149, 221, -11);
  border-left-color: #1390d8;
}
.commingsoon {
  text-align: center;

  h2 {
    color: #ffffff;
    font-size: 48px;
    line-height: 24px;

  }
  span {
    line-height: 21px;
    font-size: 13px;
    color: #ffffff;
    text-align: center;
    padding-left:100px;
    position: relative;



  }
}
#txt__inner {
  display:none;
  color: #fefefe;
  font-family:$f2;
  padding-left:100px;

  span {
    border-left: 2px solid #2953dd;
    padding-left:10px;
    top:40px;
    position: relative;
    margin-right:50px;
  }
}

