<main>
<section class="midle-part">
    <div class="container-fluid">

        <div class="row">
        <div class="col-md-7 midle-part--txt">
        <a href="#" onclick="openbox('txt__inner'); return false"  class="text__show" ><span class="midle-part--txt__btn">«уютный дом»</span></a>
        <h1>Полюбить ремонт <br>
            просто, мы сделаем <br>
            его за вас!</h1>
        <p>2939 жителей доверили нам ремонт своих квартир</p>
        <div id="txt__inner">
        <span class="txt__inner__left">Lorem</span>
        <span class="txt__inner__center">Lorem</span>
        <span class="txt__inner__right">Lorem</span>

</div>
</div>
        <div class="col-md-5 midle-part--rightside">
        <article>Оставьте свои <br>контакты<br><span>и мы свяжемся с Вами</span></article>
        <form action="reg.php">
        <label for="reg.php">Имя</label>
        <br>
        <input type="text" placeholder="Александр">
         <br>
        <label for="reg.php">E-mail</label>
                <br>
                <input type="email" placeholder="Alex@yandex.ru"> <br>
                <label for="reg.php">Телефон</label>
                        <br>
                        <input type="tel" placeholder="+8 495 007-81-24">
</form>
        <div class="midle-part--rightside--takeconsult">
        <a href="#" class="midle-part--rightside--button"><span class="midle-part--rightside--button__txt">Получить консультацию</span></a>
</div>
</div>
</div>
        </div>
        </div>
</section>

        <section class="about-us">
            <div class="container-fluid">
            <div class="container">
            <div class="row">
            <div class="col-md-12"><h3>Факты о нас</h3></div>
</div>
            <div class="row about-us--parts">
                <div class="col-md-4 about-us--parts__txt  about-us--parts__icon1  icon-piggy-bank">

                <article class="about-us--parts__txt__title">Оплата</article>
               <span class="about-us--parts__txt__subtitle">Платить можно потом — гибкие <br> системы кредитования и рассрочки</span>
               </div>

                <div class="col-md-4 about-us--parts__txt about-us--parts__icon2 icon-calendar-with-a-clock-time-tools about-us--parts__border2">
                 <article class="about-us--parts__txt__title" >Время</article>
                 <span class="about-us--parts__txt__subtitle__center">Не нужно ездить по рынкам и<br>магазинам, тратя время и нервы</span>
</div>
                <div class="col-md-4 about-us--parts__txt about-us--parts__icon3 icon-group about-us--parts__border3">
                 <article class="about-us--parts__txt__title">Организация</article>
                 <span class="about-us--parts__txt__subtitle__right">Не нужно заниматься организацией <br> перевозки и погрузки материалов.</span>
</div>

            </div>
            </div>
            </div>
            </section>

            <section class="how-we-work">
                <div class="container-fluid">
                <div class="container">
                <div class="row">
                <div class="col-md-6 col-md-offset-1">
                <h4>Мы контролируем рабочих за вас</h4>
                <ul>
                    <li>Многоуровневый мониторинг качества работ.</li>
                    <li>Персональный менеджер контроля качества</li>
                    </ul>
                    <div class="how-we-work--floats">
                            <img src="https://image.ibb.co/hFjsTb/1.png" alt="test" class="how-we-work--floats__simple">
                            <a href="#">
                            <span class="how-we-work--txt__simple">1-комнатная</span>
                            <p>От 50 календарных дней!</p>
                            </a>
</div>
                        <div class="how-we-work--floats">
                             <img src="https://image.ibb.co/eGURob/2.png" alt="test" class="how-we-work--floats__simple">
                            <a href="#">
                            <span class="how-we-work--txt__simple2">2-комнатная</span>
                            <p>От 70 календарных дней!</p>
                            </a>

                        </div>
                        <div class="how-we-work--floats">
                            <img src="https://image.ibb.co/csC1Mw/3.png" alt="test" class="how-we-work--floats__third">
                                                            <a href="#">
                            <span>3-комнатная</span>
                            <p>От 90 календарных дней!</p>
                            </a>

                        </div>
</div>
                       <div class="col-md-4 how-we-work--sofa">
                       <span><strong>Многоуровневый мониторинг качества<br>работ. Персональный менеджер<br>контроля качества.</strong></span>

</div>
                        <div class="col-md-offset-1"></div>
</div>

</div>
</div>
                      <div class="arrow commingsoon">
                        <h2>Уже совсем скоро!</h2>
                       <span>Новые решения по отделке и дизайну вашей квартиры от экспертов «Уютный Дом»</span>
                            </div>
</section>
</main>



