.test {
  display: inline;
  box-shadow: 0 10px 20px rgba(208, 162, 28, 0.3);
  border: 2px solid #ffbb1c;
  border-radius: 25px;
  background-color: #00ff33;
  background-image: linear-gradient(to bottom, #f1d117 0%, #e1580c 100%);
  span {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
    padding:21px 31px 21px 31px;
    text-transform: uppercase;
    text-align: center;
    line-height: 18px;
    color: #fdfdfd;
    font-size: 13px;
    font-weight: 700;
    font-family:$f4;
  }
}