@font-face {
  font-family: 'FontAwesome';
  src: url('/fonts/fontawesome/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/fontawesome/fontawesome-webfont.woff') format('woff'),
  url('/fonts/fontawesome/fontawesome-webfont.ttf')  format('truetype'),
  url('/fonts/fontawesome/fontawesome-webfont.svg#fontawesome-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensans-bold';
  src: url('/fonts/bold/opensans-bold-webfont.eot');
  src: url('/fonts/bold/OpenSans-Bold.ttf') format('embedded-opentype'),
  url('/fonts/bold/opensans-bold-webfont.woff2') format('woff2'),
  url('/fonts/bold/opensans-bold-webfont.woff') format('woff'),
  url('/fonts/bold/opensans-bold-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'opensans-light';
  src: url('/fonts/light/opensans-light-webfont.eot');
  src: url('/fonts/light/OpenSans-Light.ttf') format('embedded-opentype'),
  url('/fonts/light/opensans-light-webfont.woff2') format('woff2'),
  url('/fonts/light/opensans-light-webfont.woff') format('woff'),
  url('/fonts/light/opensans-light-webfont.ttf') format('truetype'),
  url('/fonts/light/opensans-light-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'opensans-regular';
  src: url('/fonts/regular/opensans-regular-webfont.eot');
  src: url('/fonts/regular/OpenSans-Regular.ttf') format('embedded-opentype'),
  url('/fonts/regular/opensans-regular-webfont.woff2') format('woff2'),
  url('/fonts/regular/opensans-regular-webfont.woff') format('woff'),
  url('/fonts/regular/opensans-regular-webfont.ttf') format('truetype'),
  url('/fonts/regular/opensans-regular-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'opensans-semibold';
  src: url('/fonts/semibold/opensans-semibold-webfont.eot');
  src: url('/fonts/semibold/OpenSans-Semibold.ttf') format('embedded-opentype'),
  url('/fonts/semibold/opensans-semibold-webfont.woff2') format('woff2'),
  url('/fonts/semibold/opensans-semibold-webfont.woff') format('woff'),
  url('/fonts/semibold/opensans-semibold-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;

}




