@media only screen and (max-width:1024px) {

    .top-header--navigation {


      a {
        text-decoration: none;
        padding-left:0;


      }
    }
  }


@media only screen and (max-width:1024px) {
  &--navigation {
    display: none;
  }

}


