@mixin font($font-size:14px,$color:#000,$font-weight:400,$font-family:$f1) {
  font-size: convertToEm($font-size);
  color: $color;
  font-weight: $font-weight;
  font-family: $font-family;
}


@mixin notebook() {
  @media only screen and (max-width: 1366px) {
    @content;
  }
}

@mixin tablet() {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}