@function convertToEm($px, $context: 14px){
  @return ($px / $context) * 1em;
}

html {
  font-size: $base-font;
}
body {
  @include font(14px, #000, 400, $f1);
  max-width: 1920px;
  min-width: 320px;
}
h1 {
  @include font(36px, #ffffff, 300, $f1);
  text-transform: uppercase;
  font-size: 52px;
  padding-bottom:10px;
  letter-spacing: 3.2px;
  line-height: 64px;
}
h2 {
  @include font(36px, #ffffff, 500, $f1);
  font-size: 48px;
  line-height: 24px;
  text-align: center;
}
h3 {
  @include font(36px, #333333, 700, $f3);
  margin-top:59px;
  text-align: center;

}
h4 {
  @include font(30px, #333333, 700, $f3);
  line-height: 24px;

}
