// Fonts
$base-font: 14px;
$font-awesome: FontAwesome;
$f1: 'opensans-light', sans-serif;
$f2: 'opensans-regular', sans-serif;
$f3: 'opensans-bold', sans-serif;
$f4: 'opensans-semibold', sans-serif;

//Global
$only-mobile-width: 991px;
$sm-width: 768px;
$md-width: 992px;
$lg-width: 1200px;
