/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-1 {
  background-image: url(sprite.png);
  background-position: 0px -1679px;
  width: 126px;
  height: 117px;
}
.icon-2 {
  background-image: url(sprite.png);
  background-position: 0px -2296px;
  width: 149px;
  height: 123px;
}
.icon-3 {
  background-image: url(sprite.png);
  background-position: 0px -2919px;
  width: 173px;
  height: 165px;
}
.icon-calendar-with-a-clock-time-tools {
  background-image: url(sprite.png);
  background-position: 0px -1110px;
  width: 68px;
  height: 69px;
}
.icon-group {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 65px;
  height: 45px;
}
.icon-piggy-bank {
  background-image: url(sprite.png);
  background-position: 0px -545px;
  width: 55px;
  height: 65px;

}
